.profile-card {
    margin-top: 25%;
    /*height: 50%;*/
    /*width: 100%;*/
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.adopt-button{
    color: red;
}

.matched-cats{
    margin-top: 5%;
}

.profile-card-image {
    height:50%;
    width: 100%;
}

.nr_secondary_buttons {
    color: #FFF;
    border: 1px solid #DCDCDD;
    height: 50px;
    width: auto;
    font-size: 1.1em;
    background-color: #59C9A5;
}

.update-profile {
    display: none;
}

.update-profile-btn{
    color: #FFF;
    border: 1px solid #DCDCDD;
    height: 50px;
    width: auto;
    font-size: 1.1em;
    background-color: #59C9A5;
}

.nr_cards {
    height: auto;
    width: auto;
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #DCDCDD;
    margin-bottom: 9px;
    border-radius: 2px;
    box-shadow: -3px 3px 18px 0px rgba(75, 73, 76, 0.29);
    -moz-box-shadow: -3px 3px 18px 0px rgba(75, 73, 76, 0.29);
    -webkit-box-shadow: -3px 3px 18px 0px rgba(75, 73, 76, 0.29);
}